// colors
$body-bg-color: white;
$true-white: white; 
$gray: #F3F8F2;
$app-bg-color: red;

// slides
$slide-height: 700px;
$phone-screen-slide-height: 450px;
$slide-h1-color: rgb(236, 186, 136);
$asta-slide-height: 700px;

// Nav Bar
$hover-bg-color: #eee;
$nav-background-color: rgba(47, 44, 44, 0.739);
$nav-boxshadow-color: 3px 3px 8px 0px rgba(28, 27, 27, 0.315);
$nav-text-color: rgb(198, 188, 188);

$header-height: 100px; 
$header-height-tablet: 80px; // for tablet
$header-height-mobile: 60px; //for mobile